.experience {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.experience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__title {
  margin: 0;
  color: $grey;
  font-family: $CS-65_Bold;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  letter-spacing: 1px;
}

.experience__description {
  margin: 0;
  color: $grey;
  font-family: $CS-45_Regular;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: $mobile) {
  .experience__item {
    margin-bottom: 50px;
    padding: 0 15px;
    
    &:nth-child(1) {
      padding-top: 237px;
      background: url("../image/exp-bg_1.png") no-repeat top center;
    }

    &:nth-child(2) {
      padding-top: 243px;
      background: url("../image/exp-bg_2.png") no-repeat top center;
    }

    &:nth-child(3) {
      padding-top: 333px;
      background: url("../image/exp-bg_3.png") no-repeat top center;
    }

    &:nth-child(4) {
      padding-top: 241px;
      background: url("../image/exp-bg_4.png") no-repeat top center;
    }
  }

  .experience__title {
    margin: 20px 0;
  }
}
