.gives-list {
  margin: 0;
  list-style-type: none;
}

.gives-list__item {
  position: relative;
}

.gives-list__number {
  opacity: 0.15;
  color: $white;
  font-family: $Besom;
  font-weight: 400;
}

.gives-list__title {
  position: absolute;
  margin: 0;
  color: $white;
  font-family: $CS-65_Bold;
  font-weight: 400;
  text-transform: uppercase;
}

.gives-list__description {
  margin: 0;
  color: $white;
  font-family: $CS-45_Regular;
  font-weight: 400;
}

@media (max-width: $mobile) {
  .gives-list {
    width: 292px;
    padding: 295px 24px 54px 24px;
    background: url("../image/gives-bg_2.png") no-repeat top center, url("../image/gives-border.png") no-repeat top center;
  }

  .gives-list__item {
    margin-bottom: 29px;
  }

  .gives-list__number {
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 3.6px;
  }

  .gives-list__title {
    top: 16px;
    left: 51px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.3px;
  }

  .gives-list__description {
    margin: 4px 0 0 0;
    font-size: 16px;
    line-height: 24px;
  }
}
