.page-header {
  display: flex;
  flex-direction: column;
  min-height: 620px;
  background-color: #c39188;
  background-image: url("../image/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 1549px auto;
  background-position: -441px -49px;
}

@media (max-width: $mobile) {
  .page-header__container {
    padding: 10px 15px;
  }

  .page-header__logo {
    position: absolute;

  }

  .page-header__phone {
    margin: 17px 0 0 0;
    align-self: flex-end;
    color: #ffffff;
    font-family: "Core Sans E -55 Medium";
    font-size: 18px;
    font-weight: 400;
  }

  .page-header__title {
    align-self: flex-start;
    margin: 70px 0 0 0;
    background: url("../image/special_course.svg") no-repeat left center;
    color: #ffffff;
    font-family: "Core Sans E -45 Regular";
    font-size: 16px;
    font-weight: 400;
    /* Text style for "спецкурс" */
    letter-spacing: 11.2px;
  }

  .page-header__main-title {
    align-self: flex-start;
    margin: 0;
    //text-shadow: 0 4px 8px rgba(0, 0, 0, 0.34);
    color: #ff0000;
    font-family: "Besom", "Arial", sans-serif;
    font-size: 102px;
    font-weight: normal;
    line-height: 102px;
    text-transform: uppercase;
    /* Text style for "В, ыжить" */
    //letter-spacing: 8.91px;
  }

  .page-header__slogan {
    align-self: flex-start;
    margin: 0;
    color: #ffffff;
    font-family: "Core Sans E -95 Black";
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "любой цено" */
    letter-spacing: 3.32px;
  }

  .page-header__list {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 198px;
    min-height: 40px;
    margin: 0;
    padding: 0;
    background: url("../image/header_list.svg") no-repeat center center;
    background-size: 198px auto;
    list-style-type: none;
    color: #1b1916;
    font-family: "Core Sans E -95 Black";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Вс" */
    letter-spacing: 0.9px;
  }

  .page-header__text {
    align-self: flex-start;
    position: relative;
    top: -34px;
    left: 214px;
    max-width: 76px;
    margin: 0;
    color: #ffffff;
    font-family: "Core Sans E -35 Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .page-header__link {
    align-self: center;
    color: #ffffff;
    font-family: "Core Sans E -95 Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Р, искнуть" */
    letter-spacing: 0.9px;
  }
}
