.will-be-not {
  padding: 0;
  list-style-type: none;
}

.will-be-not__title {
  margin: 0;
  color: $white;
  font-family: $CS-65_Bold;
  font-weight: 400;
  text-transform: uppercase;
}

.will-be-not__description {
  margin: 0;
  color: $white;
  font-family: $CS-45_Regular;
  font-weight: 400;
}

@media (max-width: $mobile) {
  .will-be-not {
    margin: 44px auto 0;
    width: 290px;
  }

  .will-be-not__item {
    margin-bottom: 37px;
    padding-left: 23px;
  }

  .will-be-not__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  .will-be-not__description {
    font-size: 16px;
    line-height: 24px;
  }
}
