/*@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Source Serif";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SourceSerifPro-Bold.ttf.woff2") format("woff2"), url("../fonts/SourceSerifPro-Bold.ttf.woff") format("woff");
}*/

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  //outline: 1px solid black;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
